html {
  /*14 px = 0.875rem*/
  font-size: .875rem;
}
html::-webkit-scrollbar {
  width: 2vh;
}
html::-webkit-scrollbar-thumb {
  background-color: #caa532;
}
html::-webkit-scrollbar-track {
  background-color: #9b9b9b;
}
body {
  margin: 0;
  padding: 0 5vw;
  background-color: #222529 !important;
  color: white !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  font-weight: 900;
  font-size: 1.15rem;
  color:#caa532 !important;
  text-decoration: none;
  cursor: pointer;
}
p {
  font-size: 1.375rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.myh1, .myh2, .myh3, .myh4, .myh5, .myh6 {
  font-family: 'Notable', sans-serif;
  color: #9b9b9b;
  margin: 1vh 0vw 2vh;
}

.myh1 { font-size: 4.5rem; text-align: center; text-transform: uppercase; color: #caa532; }
.myh2 { font-size: 2rem; }
.myh3 { font-size: 1.75rem; }
.myh4 { font-size: 1.50rem; }
.myh5 { font-size: 1.25rem; }
.myh6 { font-size: 1rem; }
.myUppercase {
  text-transform: uppercase;
}
.containerMargin {
  margin: 5rem;
}
.containerHeader {
  margin: 10px 0 30px;
}
.instrumentName, .result, .day, .date, .tickSize, .sessionStart, .sessionEnd, .numOfTrades, .break-even {
  color: #caa532;
}
.profit, .winners, .bigWin { color: lime;}
.loss, .losers, .bigLoss { color: red;}
.break-even { color: white;}

.instrumentName::before { content: 'Instrument name: '; color: #9b9b9b; }
.result::before { content: 'Daily result: '; color: #9b9b9b; }
.day::before { content: 'Trading day: '; color: #9b9b9b; }
.date::before { content: 'Trading date: '; color: #9b9b9b; }
.tickSize::before { content: 'Tick size: '; color: #9b9b9b; }
.sessionStart::before { content: 'Session start: '; color: #9b9b9b; }
.sessionEnd::before { content: 'Session end: '; color: #9b9b9b; }
.profit::before { content: 'Total winners: '; color: #9b9b9b; }
.loss::before { content: 'Total losers: '; color: #9b9b9b; }
.numOfTrades::before { content: 'Number of trades: '; color: #9b9b9b; }
.winners::before { content: 'Winners: '; color: #9b9b9b; }
.losers::before { content: 'Losers: '; color: #9b9b9b; }
.bigWin::before { content: 'Biggest winner: '; color: #9b9b9b; }
.bigLoss::before { content: 'Biggest loser: '; color: #9b9b9b; }
.break-even::before { content: 'Break-even: '; color: #9b9b9b; }